@import '_variable.scss';
/* ==============================
 ||font-weight
============================== */
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/* ==============================
  ||block
============================== */
.nowrap {
  display: inline-block;
}

.scroll {
  @media screen and (max-width:1120px) {
    overflow-x: scroll;    
  }
}

/* inline -> block */
.is-block {
  display: block;
  width: 100%;
  height: 100%;
}

.is-center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.mb-center {
  margin-left: auto;
  margin-right: auto;
}

// ||br 
// 650pxまで
.br_maxsm {
  display: block;
  @include mq(max-sm) {
    display: none;
  }
}
// 650px以上
.br_sm {
  display: block;
  @include mq(sm) {
    display: none;
  }
}
// 850pxまで
.br_maxmd {
  display: block;
  @include mq() {
    display: none;
  }
}

// 850px以上
.br_md {
  display: none;
  @include mq() {
    display: block;
  }
}

// 980pxまで
.br_maxlg {
  display: block;
  @include mq(lg) {
    display: none;
  }
}

// 981px以上
.br_lg {
  display: none;
  @include mq(lg) {
    display: block;
  }
}

.br-pc {
  display: none;
  @include mq() {
    display: inline-block;
  }
}

.position-re {
  position: relative;
}

/* ==============================
  ||padding
============================== */
.pd {
  &--sm {
    padding: 0.75rem;
  }
  &--md {
    padding: 1.25rem;
  }
}


/* ==============================
  ||margin
============================== */
.mb {
  &--xxs {
    margin-bottom: 0.5rem;
  }
  &--xs {
    margin-bottom: 0.75;
  }
  &--sm {
    margin-bottom: 1rem;
  }
  &--md {
    margin-bottom: 1.5rem;
    @include mq() {
      margin-bottom: 2rem;
    }
  }
  &--lg {
    margin-bottom: 2rem;
    @include mq() {
      margin-bottom: 3rem;
    }
  }
  &--xl {
    margin-bottom: 3rem;
    @include mq() {
      margin-bottom: 4rem;
    }
  }
  &--xxl {
    margin-bottom: 4rem;
    @include mq() {
      margin-bottom: 5rem;
    }
  }
  &--xxxl {
    margin-bottom: 6rem;
    @include mq() {
      margin-bottom: 8rem;
    }
  }
}


.mb0 {
  margin-bottom: 0;
  &--md {
    @include mq() {
      margin-bottom: 0;
    }
  }
  &--lg {
    @include mq(lg) {
      margin-bottom: 0;
    }
  }
}



/* ==============================
  ||IMG
============================== */
.img-contain {
  img {
    object-fit: contain;
  }
}

/* ==============================
  ||text
============================== */
.text-center {
  text-align: center;
  &--md {
    text-align: left;
    @include mq() {
      text-align: center;
    }
  }

}
.text-right {
  text-align: right;
}

/* ==============================
  ||line-height
============================== */
.lh15 {
  line-height: 1.5;
  @include del-space(1.5);
}
.lh175 {
  line-height: 1.75;
  @include del-space(1.75);
}
.lh2 {
  line-height: 2;
  @include del-space(2);
}


/* ==============================
  ||letter-space
  ============================== */
.ls005 {
  letter-spacing: 0.05em;
}
.ls01 {
  letter-spacing: 0.1em;
}

/* ==============================
  ||font-weight
============================== */
.text-thin {
  font-weight: $thin;
}

.text-light {
  font-weight: $light;
}

.text-regular {
  font-weight: $regular;
}

.text-medium {
  font-weight: $medium;
}

.text-bold {
  font-weight: $bold;
}

/* ==============================
  ||font-size
============================== */
.pg {
  &--md {
    font-size: 1rem;
    font-weight: $light;
    margin-bottom: 2rem;
    @include height(18, 32);
    @include mq() {
      font-size: 1.125rem;
      margin-bottom: 3rem;
    }
    &.--mb0 {
      margin-bottom: 0;
      @include mq() {
        &--md {
          margin-bottom: 0;
        }
      }
    }
  }

  &--deepGreen-sm-medium {
    color: $deep-green;
    font-weight: $medium;
    font-size: 0.75rem;
    @include mq() {
      font-size: 0.875rem;
    }
  }
}


.text-xxs {
  font-size: 0.625rem;
  @include mq() {
    font-size: 0.75rem;
  }
}

.text-xs {
  font-size: 0.75rem;
  @include mq() {
    font-size: 0.875rem;
  }
}

.text-sm { // 14-16
  font-size: 0.875rem;
  @include mq() {
    font-size: 1rem;
  }
}

.text-normal { //16-18
  font-size: 1rem;
  @include mq() {
    font-size: 1.125rem;
  }
}

.text-smd { // 18-20
  font-size: 1.125rem;
  @include mq() {
    font-size: 1.25rem;
  }
}

.text-md { // 20-24
  font-size: 1.25rem;
  @include mq() {
    font-size: 1.5rem;
  }
}

.text-lg { // 24-32
  font-size: 1.5rem;
  @include mq() {
    font-size: 2rem;
  }
}

.text-xl { // 32 - 40
  font-size: 2rem;
  @include mq() {
    font-size: 2.5rem;
  }
}

.pg--sm-lgt {
  @extend .text-sm;
  font-weight: $light;
}

.pg--normal-lgt {
  @extend .text-normal;
  font-weight: $light;
}

.note {
  @extend .text-xs;
  font-weight: $light;
}


/* ==============================
  ||color
============================== */
.text-white { color: #FFF; }
.text-dark-gr { color:$dark-green }
.text-deep-gr { color: $deep-green; }
.text-gr { color: $green;}
.text-bl { color: #1D9BF0; }
.text-pk { color: #FF2C73; }
.text-y { color: #FFFF00; }


/* ==============================
  ||link
============================== */
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.75;
  }

  &:visited {
    color: inherit;
  }
}

a.text-deep-gr {
  color: $deep-green!important;
}

.link_deco {
  padding-bottom: 0.125rem;
  text-decoration: underline;
}

/* ==============================
  ||body
============================== */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: $text-color;
  font-size: 16px;
}

p {
  text-align: justify; // 両端揃え
  text-justify: inter-ideograph;
}

/* ==============================
  ||border
============================== */
.bdr-xs { border-radius: 5px; }
.bdr-sm {
  border-radius: 0.75rem;
  @include mq() {
    border-radius: 1.25rem;
  }
}

.dbr-md { border-radius: 1rem; }

.bdr-white {
  border: 0.99px solid #FFF;
}
.bdr-dark-green { border: 3px solid $dark-green;}


/* ==============================
  ||background-color
============================== */
.bg--pale-green {
  background: $pale-green;

  .content__inner {
    background: #FFF;
  }
}

.bg--light-green {
  background: $light-green;
}

.bg--green {
  background: $green;

  .content__inner {
    background: #FFF;
  }
}

.bg--deep-green {
  background: $deep-green;

  .content__inner {
    background: #FFF;
  }
}
.bg--dark-green {
  background: $dark-green;

  .content__inner {
    background: #FFF;
  }
}


.bg--light-gray {
  background: #F2F2F2;
}
.bg--pale-gray {
  background: #525252;
}
.bg--gray {
  background: $text-color;
}

// [class^="bg"] {
//   background: #FFF;
// }
.bg--white { background: #FFF; }
.bg--be { background: #FFFAC8; }
.bg--pink  { background: $pink; }
.bg--light-yellow {
  background: #FFFAC8;
}


/* ==============================
  ||ボタン ||button
============================== */
.button {
  text-align: center;
  &__submit {
    @extend .button;
    width: 250px;
    height: 64px;
    color: $text-color;
    margin: 0 auto;
    border-radius: 32px;
    font-size: 1.25rem;
    font-weight: $bold;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      display: block;
      background: #DCDCDC 0% 0% no-repeat padding-box;
      mix-blend-mode: multiply;
      width: 250px;
      height: 64px;
      border-radius: 32px;
    }
    &:after {
      content: "送信";
      line-height: 65px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      background: transparent linear-gradient(180deg, #DFFF66 0%, #B4F000 25%, #90D200 50%, #B4F000 75%, #90D200 100%) 0% 0% no-repeat padding-box;
      width: 250px;
      height: 64px;
      border-radius: 32px;
      z-index: 1;
      border: 2px solid #FFF;
    }
    &:hover {
      &:before {
        display: none;
      }
      &:after {
        bottom: -2px;
      }
    }
  }
}