// サイト全体共通CSS
@import '_config.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_layout.scss';
@import '_title.scss';

/* ==============================
  ||link
============================== */
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    opacity: 0.75;
  }
  &:visited {
    color: inherit;
  }
}

a.text-deep-gr {
  color: $deep-green!important;
}

.link_deco {
  padding-bottom: 0.125rem;
  text-decoration: underline;
}

.link {
  &__inner {
    padding-top: 80px;
    margin-top:  -80px;
  }
}

.LinkMargin {
  margin-top: -200px;
  padding-top: 200px;
  display: block;
}

// よくある質問
.faq {
  &__def {
    margin-bottom: 1.5rem;
  }
  &__title {
    position: relative;
    margin-bottom: 0;
    text-align: left;
  }
  &__answer {
    display: none;
    padding-top: 0.625rem;
    .show-answer & {
      display: block;
    }
  }
}

.question-button {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  // background: #000;
  span:first-child {
    background: #FFF;
    display: inline-block;
    width: 2px;
    height: 15px;
    top: 0;
    left: 6.5px;
    position: absolute;
    transition: 0.3s;
  }
  span:last-child {
    position: absolute;
    background: #FFF;
    display: inline-block;
    width: 15px;
    height: 2px;
    top: 6.5px;
    left: 0;
    transition: 0.3s;
  }
}

.show-answer .question-button span:first-child {
  transform: rotate(90deg);
  transition: 0.3s;
  // top: -3px;
  // left: 3px;
}

.show-answer .question-button span:last-child {
  transform: rotate(90deg);
  transition: 0.3s;
  // top: -3px;
  // left: 3px;
  opacity: 0;
}


/* ==============================
  burger menu
============================== */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #005b99;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FFF;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  top: 0;
  left: 0;
  width: 100%!important;
  z-index: 10004!important;
}

/* General sidebar styles */
.bm-menu {
  // background: white;
  background-color: $drawer-bg-color;
  opacity: 0.95;
  padding: 0!important;
  // font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

