@import '_config.scss';

//variable
$drawer-menu-color: #000;
$drawer-bg-color: #08161E;

img {
  image-rendering: -webkit-optimize-contrast;
}
.header {
  background: $light-green;
  width: 100%;
  z-index: 101;
  transition: 0.5s;
  &.fixed {
    @include mq(max-md) {
    position: fixed;
      top: 0;
      left: 0;
    
      .header__wrap {
        height: 60px;
      }
    
      .header__logo {
        width: 100px;
      }
    
      .drawer__btn {
        width: 60px;
        height: 60px;
      }
    }

  }
  &__wrap {
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 2rem;
    // padding: 0 0 0 1rem;
    margin: 2rem auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq() {
      height: 100px;
      // padding: 1rem;
      margin-top: 0;
    }
  }
  &__left {
    padding-left: 1rem;
    @include mq() {
      display: flex;
      flex-direction: column-reverse;
    }
    @include mq(lg) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &--text {
      * {
          font-size: 0.75rem;
          font-weight: $regular;
        }
      @include mq() {
        display: flex;
        position: fixed;
        top: 4px;
        left: 1rem;
        // margin-bottom: 0.25rem;
      }
      @include mq(lg) {
        position: static;
        flex-direction: column;
        // margin-bottom: 0;
        * {
            font-size: 0.875rem;
        }
      }
    }
  }
  &__logo {
    width: 165px;
    margin-right: 1rem;
    @include mq() {
      width: 238px;
    }
    .logoImg {
      width: 100%;
      object-fit: contain;
    }
  }
  &__copy {
    display: none;
    @include mq() {
      display: block;
    }
  }
  &__right {
    // padding-top: 1rem;
    &--time {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 0.875rem;
      text-align: center;
      @include mq() {
        position: static;
        width: auto;
        display: block;
        border-radius: 16px 0 0 16px;
      }
      background: $deep-green;
      color: #fff;
      // position: fixed;
      // top: 10px;
      // right: 0;
      height: 2rem;
      line-height: 2rem;
      // padding: 0 0.5rem;
    }
  }


  // ディスプレイメニュー
  &-menu {
    &__wrap {
      display: none;
      @include mq() {
        display: flex;
        padding-right: 0.5rem;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      line-height: 23.45px;
      margin-left: 0.5rem;
      &:before {
        content: "";
        display: inline-block;
        object-fit: contain;
        background-position: center;
        margin-left: 0.15rem;
      }
      &.faq {
        &:before {
          width: 16.74px;
          height: 23.45px;
          background-image: url('../../images/icon/faq.svg');
        }
      }
      &.voice {
        &:before {
          width: 20.22px;
          height: 20.22px;
          background-image: url('../../images/icon/voice.svg');
        }
      }
      &.info {
        &:before {
        width: 22.35px;
        height: 22px;
        background-image: url('../../images/icon/info.svg');
        }
      }
      &.access {
        &:before {
          width: 20.22px;
          height: 20.22px;
          background-image: url('../../images/icon/access.svg');
        }
      }
      &.about {
        &:before {
          width: 16.96px;
          height: 20.68px;
          background-image: url('../../images/icon/about.svg');
        }
      }
    }

  }
}


/* ==============================
 ヘッダーナビゲーション
============================== */
.header-nav {
  &__wrap {
    width: 100%;
    height: 60px;
    background-color: $green;
    border-bottom: 0.99px solid #FFF;
    border-top: 0.99px solid #FFF;
    color: #FFF;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.5));
    display: none;

    @include mq() {
      display: block;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
  }

  &__item {
    height: 58px;
    width: 20%;
    // padding: 0 3rem;
    background: linear-gradient(to right, #64C800, #53A500);
    font-weight: $medium;
    border-right: 0.99px solid #FFF;
    &:first-child {
      border-left: 0.99px solid #FFF;
    }
    a {
      display: block;
      width: 100%;
      text-align: center;
      line-height: 58px;
    }
  }
}


//ドロワー
.drawer {
  &__btn {

    // button
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10002;
    width: 90px;
    height: 90px;
    // background-color: #ddd;
    overflow: hidden;
    cursor: pointer;

    span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: $drawer-bg-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: .3s;

      &:nth-child(1) { transform: translate(-50%, -14px); }
      &:nth-child(2) { transform: translate(-50%, -50%); }
      &:nth-child(3) { transform: translate(-50%, 10px); }
    }

    &.active {
      span {
        background-color: #fff;
        &:nth-child(1) { transform: translate(-50%, 0) rotate(45deg); }
        &:nth-child(2) { transform: translate(-50%, -50%); opacity: 0; }
        &:nth-child(3) { transform: translate(-50%, 0) rotate(-45deg);}

      }
    }
  } // btn

  // menu
  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10001;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    background-color: $drawer-bg-color;
    transition: .3s;
    transform: translateX(100%);
    opacity: 0;
    // active
    &.active {
      transform: translateX(0);
      opacity: 0.95;
    }
  } // menu

  //  menu_inner
  &__inner {
    width: 75%;
    min-width: 275px;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
  }
  &__def {
    padding: 1rem 0;
    border-bottom: 1px solid #FFF;
  }
  &__dttl {
    &:before {
      content: "■";
      display: inline-block;
      margin-right: 0.25rem;
    }
  }
  &__list {
    padding-left: 1rem;
  }
  &__item {
    &:before {
      content: "・";
    }
  }
} // drawer

