/* ==============================
  ||見出し ||headline
============================== */
.headline {
  .-lv1 {
    font-size: 2rem;
  }
  .-lv2 {
    font-size: 1.5rem;
    font-weight: $bold;
    text-align: center;
  }
  &--title {
    text-align: center;
    color: $deep-green;
    letter-spacing: 0.2em;
    font-weight: $regular;
    font-size: 1.25rem;
    padding: 2.5rem;
    @include mq() {
      font-size: 2rem;
      padding: 4rem 5rem;
    }
    &.text-white {
      color: #FFF;
    }
    span {
      font-size: 0.75rem;
      @include mq() {
        font-size: 1rem;
      } 
      display: block;
    }
  }
  &--greenLabel {
    background: $dark-green;
    color: #fff;
    padding: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
    .--left {
      text-align: left;
    }
    @extend .bdr-xs;
  }
}

/* ==============================
  ||セクション　||section
============================== */
.sec {
  &__ttl {
    @extend .text-lg;
    color: $deep-green;
    text-align: center;
    margin-bottom: 0.75rem ;
  }
}
