/* ==============================
  ||見出し ||headline
============================== */
.headline {
  // .-lv1 {
  //   font-size: 2rem;
  // }
  // .-lv2 {
  //   font-size: 1.5rem;
  //   font-weight: $bold;
  //   text-align: center;
  // }

  // ページタイトル
  &--title {
    text-align: center;
    color: $deep-green;
    letter-spacing: 0.2em;
    font-weight: $regular;
    font-size: 1.25rem;
    padding: 2.5rem 0;
    @include mq() {
      font-size: 2rem;
      padding: 3rem 4rem 0;
    }
    &.text-white {
      color: #FFF;
    }
    span {
      font-size: 0.75rem;
      @include mq() {
        font-size: 1rem;
      } 
      display: block;
    }
  }
  &--greenLabel {
    background: $dark-green;
    color: #fff;
    padding: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
    &.--left {
      text-align: left;
    }
    @extend .bdr-xs;
  }
}

.label {
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
  &.text-left {
    text-align: left;
    padding-left: 1rem;
  }
  @include mq() {

  }
  &.--left {
    text-align: left;
  }
  &.--pd-sm {
    padding: 0.5rem 0;
  }
  &.--pd-md {
    padding: 0.625rem 0;
  }
  &.--pd-xd {
    padding: 1.25rem 0;
  }
}

/* ==============================
  ||セクション　||section
============================== */
.sec {
  &__ttl {
    @extend .text-lg;
    color: $deep-green;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 0.02em;
    font-weight: $bold;
    @include mq() {
      margin-bottom: 2rem;
    }
    &--sub {
      display: block;
    }
  }
}
