.faqWrap {
  margin-bottom: 3rem;
}

// 旅のリンク集
.linkOther {
  dl:not(:last-child) {
    margin-bottom: 3rem;
  }
  li {
    line-height: 2;
  }
}

.faqList {
  margin-left: 1rem;
  li {
    line-height: 2;
  }
}