form {
  label {
    color: #006E00;
    display: block;
    margin-bottom: 0.15rem;
  }
  > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}

input, textarea {
  border: 0.99px solid #404040;
  padding: 0.5rem;
  width: 100%;
  background: #FFF;
  border-radius: 0.25rem;
}

.checkbox {
  display: grid;
  grid-template-columns: 15px auto;
  grid-template-rows: auto;
  gap: 5px;
  margin: 0 auto 2rem;
}

// リンク
.linkBox {
  background: #32B400;
  color: #fff!important;
  margin: 0 0.25rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}

// select
select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  border: 0.99px solid #404040;
  padding: 0.5rem;
  width: 100%;
  background: #FFF;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}
select::-ms-expand {
  display: block;
}

// サンクス文章
.p_thanks {
  margin-bottom: 2rem;
}