/* ==============================
  variable
============================== */
// color
$pale-green: #EFFCC9;
$light-green: #B4F000;
$green: #64C800;
$dark-green: #32B400;
$deep-green: #006E00;
$yellow: #FFFF00;
$pink: #FF2C73;
$text-color: #404040;

form {
  label {
    color: $deep-green;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}

input, textarea {
  border: 1px solid #404040;
  padding: 0.5rem;
  width: 100%;
}