/* ==============================
  variable
============================== */
// color
$pale-green: #EFFCC9;
$light-green: #B4F000;
$green: #64C800;
$dark-green: #32B400;
$deep-green: #006E00;
$yellow: #FFFF00;
$pink: #FF2C73;
$text-color: #404040;

form {
  label {
    color: $deep-green;
  }
  > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}

input, textarea {
  border: 0.99px solid #404040;
  padding: 0.5rem;
  width: 100%;
  background: #FFF;
  border-radius: 0.25rem;
}

.checkbox {
  display: grid;
  grid-template-columns: 15px auto;
  grid-template-rows: auto;
  gap: 5px;
  margin: 0 auto 2rem;
}

// リンク
.linkBox {
  background: $dark-green;
  color: #fff!important;
  margin: 0 0.25rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}