.wrap {
  width: 93%;
  max-width: 980px;
  margin: 0 auto;
  background: #F2F2F2;
  border-radius: 0.625rem;
  position: relative;
  margin-bottom: 80px;
  padding: 3rem 0 4rem;
}

@media screen and (min-width:768px) {
  .wrap {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width:850px) {
  .wrap {
    width: 100%;
    border-radius: 1.25rem;
  }
}

.inner {
  width: 93%;
  max-width: 880px;
  margin: 0 auto;
}

.wrap_sm {
  @extend .wrap;
  width: 100%;
}