@import './global/_variable.scss';
@import './global/_config.scss';
@import './global/_layout.scss';


// 見出し
.headline {
  background: $dark-green;
  padding: 0.5rem 0;
  font-weight: $medium;
  color: #fff;
  text-align: center;
  @extend .bdr-xs;
  @extend .text-sm;
  margin-bottom: 1rem;
}

// アクセス方法
.accessFlow {
  @extend .flex__wrap;
  max-width: 400px;
  margin: 0 auto 2rem;
  @include mq(){
    max-width: 880px;
  }
  img {
    object-fit: contain!important;
  }
}

.flowGrid {
  display: grid;
  grid-template-columns: 36px auto;
  grid-template-rows: auto 1fr;
  gap: 0.5rem 1rem;
  place-items: flex-start;
  margin-top: 1rem;
  @include mq() {
    width: 48%;
    margin-top: 0;
  }
}
.flowGrid_3 {
  @extend .flowGrid;
  grid-template-rows: repeat(2, auto) 1fr;
}

.number {
  grid-column: 1/2;
  grid-row: 1/3;
}
.flowFooter {
  grid-column: 2/3;
  grid-row: 3/4;
}

.reserve {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  > * {
    width: 50%;
    border-bottom: 0.99px solid #F2F2F2;
    padding: 0.5rem 0;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(6 ,auto);
  grid-template-rows: repeat(2 ,auto);
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  gap: 10px;
  img {
    width: 60px;
  }
  li:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  li:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
  li:nth-child(3) {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
  }
  li:nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  li:nth-child(5) {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
  }
  @include mq() {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 80px;
  }
}


.visit {
  width: 100%;
  font-weight: $medium;
  li {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    margin-bottom: 1rem;
    border-radius: 4px;
    height: 140px;
    width: 100%;
    padding: 1rem 0.5rem;
    > * {
      width: 50%;
    }
    &:before {
      content: "";
      display: block;
      width: 50%;
      height: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('../images/guide/visit01_sp.png');
    }
    &:nth-child(2) {
      &:before {background-image: url('../images/guide/visit02_sp.png'); }
    }
    &:nth-child(3) {
      &:before {background-image: url('../images/guide/visit03_sp.png'); }
    }
  }
}

@media screen and (min-width:650px) {
  .visit {
    display: flex;
    justify-content: space-between;
    li {
      text-align: center;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100px auto;
      width: 32%;
      height: auto;
      > * {
        width: 100%;
      }
      &:before {
        width: 100%;
        height: 100px;
        background-image: url('../images/guide/visit01_pc.png');
      }
      &:nth-child(2) {
        &:before {background-image: url('../images/guide/visit02_pc.png'); }
      }
      &:nth-child(3) {
        &:before {background-image: url('../images/guide/visit03_pc.png'); }
      }
    }
  }
}

// お帰りになったら
.lastFlowTitle {
  background: #404040;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  a {
    color: #FFF!important;
  }
}

.lastFlowLink {
  background: #FF2C73;
  border: 0.99px solid #FF2C73;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  &:hover {
    background: #FFF;
    border: 0.99px solid #FF2C73;
    color: #FF2C73;
    opacity: 1!important;
  }
  a {
    display: block;
  }
}

.note {
  font-size: 0.625rem;
  font-weight: 300;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.flexBoxLeft {
  background: #FFFAC8;
  color: #006e00;
  font-size: 0.75rem;
  padding: 1rem 0;
  text-align: center;
  font-size: $medium;
  margin-bottom: 10px;
  @include mq() {
    width: 20%;
    display: grid;
    place-items: center;
    align-items: center;
    margin-bottom: 0;
  }
}

.flexBoxRight {
  @include mq() {
    width: 78%;
  }
}