@import './global/_config.scss';
@import './global/_layout.scss';

.slider {
  &__wrap {
    background: $light-green;
    padding: 0 0 40px 0;
    @include mq() {
      padding: 40px 0;
    }
    &Wide {
      @extend .slider__wrap;
    }   
  }
}

@media screen and (max-width:480px) {
  .slider__wrapWide {
    display: none;
  }
}
@media screen and (min-width:481px) {
  .slider__wrap {
    display: none;
  }
  .slider__wrapWide {
    display: block;
  }
}


/* ==============================
  information
============================== */
.info {
  &__wrap {
    margin-bottom: 1rem;
  }
  // 記事単体
  &__article {
    border-bottom: 1px dotted #000;
    padding: 0.5rem 0;
    &:first-child {
      border-top: 1px dotted #000;
    }
    @include mq() {
      display: grid;
      grid-template-rows: 1;
      grid-template-columns: auto auto 1fr;
      align-items: center;
      padding: 1rem 0;
      gap: 0 1rem;
    }
  }

  // 日付カテゴリー
  &__head {
    margin-bottom: 0.25rem;
    display: flex;
    @extend .text-xs;
    @include mq() {
      margin-bottom: 0;
    }
  }
  &__cate {
    color: #FFF;
    background: $dark-green;
    margin-right: 0.5rem;
    padding: 0 0.33rem;
    text-align: center;
    @include mq() {
      width: 100px;
    }
  }
  &__title {
    @extend .text-sm;
  }

  // MORE
  &__foot {
    @extend .text-xs;
    text-align: right;
    letter-spacing: 0.2em;
  }
}

.hero_image {
  position: relative;
  height: 65vw;
  overflow-x: hidden;
  overflow-y: visible;
  @include mq() {
    height: 500px;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 3rem;
    background-color: $pale-green;
    position: absolute;
    bottom: 0;
    left: 0;
    @include mq() {
      z-index: 5;
      height: 5rem;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3rem;
    background-color: $light-green;
    position: absolute;
    bottom: 3rem;
    left: 0;
    z-index: 2;
    @include mq() {
      // z-index: 100;
      height: 5rem;
    }
  }
}

.hero_logo {
  position: absolute!important;
  top: 2vw;
  left: 50%;
  transform: translate(-50%, 0);
  width: 25vw;
  max-width: 194px;
  @include mq() {
    top: 3rem;
    width: 194px;
  }
}

.hero_build {
  position: absolute!important;
  bottom: 2rem;
  left: -8vw;
  width: 110vw;
  max-width: 1000px;
  z-index: 3;
  @include mq() {
    bottom: 0;
    left: 50%;
    width: 1000px;
    transform: translate(-53%, 0);
  }
}

.hero_airplane {
  position: absolute!important;
  top: 10vw;
  right: 5vw;
  width: 20vw;
  max-width: 185px;
  @include mq() {
    top:2vw;
    right: 10vw;
  }
}

.hero_bus {
  position: absolute!important;
  bottom: 5vw;
  right: -35vw;
  width: 100vw;
  z-index: 5;
  max-width: 650px;
  @include mq() {
    right: 5rem;
    bottom: 3rem;
    width: 50vw;
  }    
}

.hero_bus {
  animation-name: test-animation;
  animation-timeline: test-timeline;
  animation-duration: 1s;
  animation-fill-mode: both;
}

// @keyframes test-animation {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

// @scroll-timeline test-timeline {
//   start: 0%;
//   end: 100%;
//   time-range: 1s;
// }

/* ==============================
  button
============================== */
.reserve__button__color > p {
  color: $green;
}


/* ==============================
  SNS
============================== */
.sns {
  &__wrap {
    @extend .flex__wrap--sm;
    @extend .mb--lg;
    // max-width: 400px;
    margin: 0 auto;
    @include mq() {
      max-width: 100%;
    }
  }
  &__box {
    &_line {
      @extend .flex-col-2--sm;
      background: $dark-green;
      text-align: center;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
    &_tw {
      @extend .sns__box_line;
      background: #1D9BF0;
      .sns__inner {
        border: 3px solid #1D9BF0;
      }
    }
  }
  &__inner {
    background: #FFF;
    border-radius: 1rem 1rem 0 0;
    height: 110px;
    border: 3px solid $dark-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 265.7px;
    }
  }
  &__foot {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
  }
}


/* ==============================
  sponsor
============================== */
.sponsor {
  img {
    margin: 0 0.5rem;
    object-fit: contain !important;
  }
  > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &_top {
    margin-bottom: 1rem;
    img {
      height: 30px!important;
      @include mq() {
        height: 42px!important;
      }
    }
  }
  &_bottom {
    margin-bottom: 2rem;
    img {
      height: 54px!important;
      @include mq() {
        height: 76px!important;
      }
    }
  }
}


// 信頼と安心の サンパーキング成田店~
.select {
  @extend .flex__wrap--sm;
  flex-wrap: wrap;
  &Box {
    @extend .flex-col-4--lg;
    @extend .flex-col-2--sm;
    padding: 1rem;
    color: #fff;
    background: $dark-green;
    border-radius: 10px;
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: auto;
    gap: 1rem;
    margin-bottom: 1rem;
    // align-items: flex-start;
    align-items: stretch;
    // font-weight: $medium;
    @include mq(sm) {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
    }
  }
  .textBox {
    font-feature-settings: "palt";
    font-weight: $medium;
    letter-spacing: 0.1em;
    @include mq(sm) {
      margin-bottom: 0.5rem;
    }
    span {
      color: $yellow;
    }
  }
  .imgBox {
    @include mq(sm) {
      margin-top: auto;
    }
  }
  .selectImg {
    object-fit: contain!important;
  }
}

.option {
  @extend .flex__wrap;
  &Box {
    @extend .flex-col-2;
    @extend .flex-col-4--lg;
    background: #FFF;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: auto;
    @include mq(sm) {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
    }
  }
  .textBox {
    color: $deep-green;
    margin-bottom: 0.5rem;
    font-feature-settings: "palt";
    font-weight: $medium;
    letter-spacing: 0.1em;
    @include mq(sm) {
    }
  }
  .imgBox {
    @include mq(sm) {
      margin-top: auto;
    }
  }
  .selectImg {
    object-fit: contain!important;
  }
  .note {
    font-size: 0.625rem;
    line-height: 1.5;
    color: $text-color;
    display: block;
  }
}

.otherInfo__title {
  /* UI Properties */
  text-align: center;
  font-weight: $regular;
  letter-spacing: 5.6px;
  opacity: 1;
  @extend .text-md;
  @extend .mb--md;
}

.otherService {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  padding: 1rem;
  &Title {
    @extend .text-dark-gr;
    @extend .text-medium;
    @extend .text-sm;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &Text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    @extend .text-sm;
    align-self: start;
  }
  &Img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: end;
  }
  @include mq(sm) {
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    &Title {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    &Text {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      align-self: start;
    }
    &Img {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  } 
}