@import './global/_config.scss';

// variable
$main-black-color: #000;

.navigation {
  &__def {
    padding: 1rem 0;
    border-bottom: 1px solid #FFF;
  }

  &__dttl {
    position: relative;
    padding-left: 1rem;
    &:before {
      content: "■";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__list {
    padding-left: 0.875rem;
  }

  &__item {
    &:before {
      content: "・";
    }
  }
  }
  
// navigation
header [class^="navigation"] {
  @include mq() {
    display: none;
  }
}
header [class^="drawer"] {
  @include mq() {
    display: none;
  }
}

footer {
  .navigation {
    &__wrap {
      border-top: 1px solid $main-black-color;
      border-bottom: 1px solid $main-black-color;
    }
    &__def {
      border-bottom: none;
    }
    &__list {
      display: none;

      @include mq() {
        display: block;
      }
    }
  }
}