@import './global/_variable.scss';

// variable
$main-black-color: #000;

.navigation {
  &__def {
    padding: 1rem 0;
    border-bottom: 1px solid #FFF;
    &:last-child {
      border: none;
    }
  }

  &__dttl {
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0.25rem;
    &:before {
      content: "■";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__list {
    padding-left: 0.875rem;
    > li {
      line-height: 2;
    }
  }

  &__item {
    &:before {
      content: "・";
    }
  }
  &__sns {
    margin-top: 1rem;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
}
  
// navigation
header [class^="navigation"] {
  @include mq() {
    display: none;
  }
}
header [class^="drawer"] {
  @include mq() {
    display: none;
  }
}

header {
  .navigation {
    &__def {
      button {
        color: #fff;
      }
    }
  }
}

footer {
  .navigation {
    &__wrap {
      border-top: 1px solid $main-black-color;
      border-bottom: 1px solid $main-black-color;
    }
    &__def {
      border-bottom: none;
      button {
        color: #404040;
      }
    }
    &__list {
      display: none;

      @include mq() {
        display: block;
      }
    }
  }
}

