@import "./global/config.scss";
@import "./global/_layout.scss";


.headline {
  background: $dark-green;
  padding: 0.75rem 0;
  font-weight: $medium;
  color: #fff;
  text-align: center;
  @extend .bdr-xs;
  @extend .text-smd;
  margin-bottom: 1rem;
}

.optionLink {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: -1rem;
  max-width: 400px;
  @include mq(sm) {
    max-width: 750px;
  }
  @include mq() {
    margin-bottom: -3rem;
  }
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  &List {
    width: 30%;
    max-width: 100px;
    text-align: center;
    background: $deep-green;
    color: #fff;
    padding: 0 1rem;
    margin: 0.5rem 1%;
    line-height: 2;
    border-radius: 0.375rem;
    button {
      color: #fff;
      &:focus {
        color: #fff;
      }
    }
  }
  span {
    display: inline-block;
    margin-left: 0.25rem;
    line-height: 2;
    font-size: 0.75rem;
  }
}

.reservationButton {
  color: #fff;
  background: #32B400;
  @extend .text-sm;
  > * {
    padding: 0.375rem 1rem;
  }
}

.reservationText {
  background: #32B400;
  width: 60%;
  padding-left: 2em;
  text-indent: -1em;
}
.reservationLink {
  width: 40%;
  background: #FF2C73;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  place-items: center;
  text-align: center;
  @include mq() {
    display: flex;
    justify-content: center;  
  }
}

// flex
.flexTop {
  margin-bottom: 2rem;
  p {
    @extend .pg--normal-lgt;
    @extend .lh2;
    @extend .mb--lg;
  }
  @include mq() {
    display: flex;
    justify-content: space-between;
    .leftBox {
      width: 65%;
    }
    figure {
      width: 32%;
    } 
  } 
}

//  料金表
.fee {
  border-top: 0.99px solid #006E00;
  border-left: 0.99px solid #006E00;
  border-right: 0.99px solid #006E00;
  color: #006e00;
  text-align: center;
  font-weight: $medium;
  > * {
    padding: 0.5rem 0;
  }
  dt {
    @extend .text-normal;
    background: #FFFAC8;
    border-bottom: 0.99px solid #006E00;
  }
  dd {
    @extend .text-smd;
    background: #fff;
    border-bottom: 0.99px solid #006E00;
  }
}

@include mq() {
  .fee {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    dt {
      display: grid;
      align-items: center;
      text-align: left;
      border-right: 0.99px solid #006E00;
      padding-left: 1rem;
    }
  }
}

.border_line {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.99px solid #006E00;
}

// 有料メニュー
.menu {
  @extend .flex__wrap--md;
  margin-bottom: 2rem;
  dl {
    &:not(:last-child) {
      @extend .border_line;
    }
    @include mq() {
      width: calc((100% - 8%) / 3);
      &:not(:last-child) {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
            
      &:nth-child(1) {
        width: 45%;
      }
      &:nth-child(2) {
        border-right: 1px $deep-green solid;
        border-left: 1px $deep-green solid;
        width: 35%;
        margin-left: 2%;;
        margin-right: 2%;
        padding-left: 2%;
        padding-right: 2%;
      }
      &:nth-child(3) {
        width: 20%;
        flex-shrink: 2;
      }
    }
  }
  dt {
    color: $deep-green;
    font-weight: $medium;
    margin-bottom: 0.5rem;
    @extend .text-smd;
  }
  dd {
    font-feature-settings: "palt";
    text-justify: inter-ideograph;
    text-align: justify;
  }
}

// keeper
.coating {
  @include mq() {
    display: grid;
    grid-template-columns: 1fr 150px 141px;
    grid-template-rows: auto;
  }
}

.keeper {
  width: calc(150px + 141px);
  display: grid;
  grid-template-columns: 150px 141px;
  grid-template-rows: 98px;
  align-items: center;
  margin: 0 auto 2rem;
}

// 保険
.hoken {
  font-weight: $light;
  font-size: 14px;
  @extend .mb--lg;
  @include mq() {
    display: grid;
    grid-template-columns: 29.3% 41.3% 29.3%;
    grid-template-rows: auto;
  }
  dl {
    &:not(:last-child) {
      @extend .border_line;
    }
    @include mq() {
      border-bottom: none!important;
      &:nth-child(2) {
        border-right: #006E00 solid 0.99px;
        border-left: #006E00 solid 0.99px;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 3%;
        margin-right: 3%;
      }
      &:not(:last-child) {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 60px auto;
      gap: 1rem;
      align-items: start;
      }
  }
  dt {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.compare {
  text-align: center;
  color: #fff;
  background: $deep-green;
  border-radius: 10px;
  width: 95%;
  max-width: 360px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  a {
    padding: 1rem 0;
    line-height: 1.5;
  }
}

// レンタル　宅配　JAF
.service {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: auto;
  gap: 2%;
  @include mq() {
    display: flex;
    flex-direction: column;
    .img {
      margin-top: auto;
    }
  }
}

.service_wrap {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  @include mq() {
    display: flex;
    justify-content: space-between;
    > * {
      width: 32%;
      margin: 0;
    }
    h3 {
      font-size: clamp(18px, 2.8vw, 32px)
    }
  }
}