@import '../styles/global/config';

.price-chart {
  width: 100%;
  max-width: 530px;
  margin: 0 auto 2rem;
  font-size: 0.75rem;

  @include mq(lg) {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    flex-wrap: wrap;
  }
  &__head {
    > * {
      padding: 0.5rem 0;
    }
  }
  &__row {
    justify-content: center;
  }
}



.price {
  // 右側
  &__second {
    .price-chart__head {
      display: none;
      @include mq(lg) {
        display: flex;
      }
    }
    .price-chart__row:last-child {
      .price--sale {
        &:before {
          content: "1日ごと";
          font-size: 1rem;
        }
      }
    }
  }
  &--normal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
    text-decoration-color: $pink;
  }
  &--sale, &__head--sale {
    flex-grow: 2;
  }
  &--sale {
    text-align: right;
    padding-right: .5em;
  }

}

.priceBox {
  margin: 0 auto;
  @include mq(lg) {
    width: 48%;
    margin: 0;
  }
}


.day {
  width: 20%;
  font-weight: $medium;
  font-weight: $regular;
}
.en {
  font-size: 1rem;
}

.note {
  margin: 0 auto;
  max-width: 530px;
  @include mq(lg) {
    // width: calc(100% - 2rem);
    max-width: 100%;
    margin-bottom: 2rem;
    @include mq() {
      margin-bottom: 3rem;
    }
  }
}


// price page
.price-chart--sub {
  @extend .price-chart;
  @include mq(lg) {
    display: block;
  }
  .price-chart__row:last-child {
    .price--sale {
      &:before {
        content: "1日ごと";
        font-size: 1rem;
      }
    }
  }
  max-width: 980px;
  .price--sale {
    @include mq(xs) {
      padding-right: 3rem;
    }
    @include mq(sm) {
      padding-right: 6rem;
    }
  }
  .note {
    @extend .note;
    max-width: 980px;
  }
  
}

