@import "./global/config.scss";

.rsvFaq {
  font-weight: 300;
  > dl {
    margin-bottom: 2rem;
  }
  ul {
    margin-bottom: 1rem;
  }
  li {
    list-style-type: decimal;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    @extend .text-xs;
  }

  a {
    text-decoration: underline;
  }

  p {
    @extend .text-xs;
    line-height: 1.5;
  }
}

.hl_lv1 {
  color: #006E00;
  font-weight: 600;
  @extend .text-normal;
  @extend .mb--sm;
}
