@import "./global/config";

.gridTokushoho {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(7, auto);
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 4rem;
  @include mq() {
    margin-bottom: 5rem;
  }
  dt {
    padding: 1.5rem 1rem 1.5rem 0.25rem;
    border-bottom: 1px solid $text-color;
  }
  dd {
    padding: 1.5rem 0.25rem 1.5rem 1rem;
    border-bottom: 1px solid $text-color;
  }
}